{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="食パン,暖かみのある,甘い,懐かしいパン">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ページタイトル</title>
        {% block extra_head %}
            <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% endblock %}
    </head>
    <body id="color">
        <a href="#topic">説明</a>
        <a href="#topic2">説明2</a>
        <header>
            <h1 id="opacity1">商品1：ほんのり○○の食パン</h1>
            <p id="topic">this is a pen.  こちらの商品は店名の名前通り、ほんのりと甘い味わいの食パンです。昼休みになるとOLや主婦の方々が
                <br>来店され、15分もしないうちに売れてしまうんです。ご近所から愛されている昔ながらの懐かしい食パンです。
            </p>
            <p class="sitei1"><img class="imgcenter" src="{% static 'images/logo.jpg' %}" alt="Logo">こちらの商品は店名の名前通り、ほんのりと甘い味わいの食パンです。昼休みになるとOLや主婦の方々が
                <br>来店され、15分もしないうちに売れてしまうんです。ご近所から愛されている昔ながらの懐かしい食パンです。</p>
        </header>
        <section>
            <h2 id="topic2">商品情報</h2>
            <p>商品の価格は<b>120円</b></p>
            <ul>
                <li>こちらから<a href="04_01.pdf" target="_blank">会報誌</a>をダウンロード</li>
            </ul>
        </section>
        <pre>
            こちらの商品は店名の名前通り、ほんのりと甘い味わいの食パンです。昼休みになるとOLや主婦の方々が
                来店され、15分もしないうちに売れてしまうんです。ご近所から愛されている昔ながらの懐かしい食パンです。
        </pre>
    </body>
</html>