body {
  font-family: sans-serif;
  background: #cdedf5;
  margin: 0;
}

.org-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.org-level.admin {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(250, 247, 83);
    padding: 14px 20px;
    width: fit-content;
    border-radius: 8px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.org-level.staff {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 常に2列 */
  gap: 26px 16px;
  justify-items: center;
}

.staff-node {
  background: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
  width: 100%;
  max-width: 320px;
}

.staff-name {
  font-weight: bold;
  margin-bottom: 6px;
}

.show-details {
  background-color: #4ad4d0;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.subordinates {
  margin-top: 8px;
  font-size: 12px;
  list-style: none;
  padding-left: 0;
}

.subordinates li {
  margin: 2px 0;
}

.hidden {
  display: none;
}

.message-btn, .dashboard-btn {
  display: inline-block;
  padding: 8px 16px;
  margin: 15px 8px;
  width: fit-content;
  font-size: 14px;
  background-color: #0056b3;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.dashboard-btn:hover,
.message-btn:hover {
  background-color: #003366;
}

.bottom-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

a {
    text-decoration: none;
    font-size: 14px;
}

.staff-node.centered {
    grid-column: 1 / -1;
    justify-self: center;
    max-width: 320px;
}

.staff-list {
  margin-top: 30px;
  text-align: center;
}

.staff-card-list {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.staff-card {
  background-color: #7ef6ff;
  padding: 10px 16px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  min-width: 170px;
  margin-bottom: 30px;
}

.toggle-card {
  cursor: pointer;
}

.toggle-card button,
.toggle-card a {
  cursor: pointer;
}

@media (max-width: 600px) {
    .staff-card-list {
        gap: 0 20px;
    }

    .staff-node,
    .staff-node.centered {
      width: 100%;
      max-width: 180px;
    }

    .org-level.admin{
      font-size: 14px;
    }

    .staff-card {
      font-size: 14px;
      padding: 8px 12px;
      min-width: 135px;
    }
  
}
